@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ring-default {
    @apply ring-2 ring-transparent focus-within:ring-offset-2 focus-within:ring-offset-black focus-within:ring-white;
  }
  .select-default {
    @apply bg-white text-black hover:text-white w-fit p-0;
  }

  .btn-default {
    @apply bg-[#e50914] text-white font-semibold px-4 py-2 rounded-md  cursor-pointer hover:bg-red-700;
  }

  /* .background-hero {
    @apply absolute top-0 right-0 left-0 bottom-0 pointer-events-none h-[700px];
  } */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  box-sizing: border-box;
}

#root {
  max-width: 1920px;
}

body {
  background-color: black;
  /* margin: 0 auto; */
}

.bg-hero {
  background: url("./assets/herobg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.bg-fade {
  height: 101%;
  background: linear-gradient(
    rgba(0, 0, 0, 95%),
    rgba(0, 0, 0, 40%) 35%,
    rgba(0, 0, 0, 95%) 90%
  );
  z-index: -1;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.radial-gradient {
  background: radial-gradient(
    120.35% 220% at 49.86% -6.29%,
    #e50914 0%,
    #0e1b4f 46.15%,
    #0d1121 100%
  );
}
